@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-size: 10px;
}
@media (max-width: 527px) {
  * {
    font-size: 8px;
  }
}
@media (max-width: 427px) {
  * {
    font-size: 6px;
  }
}
@media (max-height: 370px) {
  * {
    font-size: 6px;
  }
}
body {
  font-family: "Poppins", sans-serif;
  background: #224571;
  height: 100vh;
  overflow: hidden;
}
.header {
  margin: 3.85rem 0rem;
  text-align: center;
}
.navbar {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.nav-image {
  width: 8rem;
  height: 8rem;
  padding: 1rem;
}
.contact {
  width: 5.5rem;
  margin-left: 1rem;
}
.nav-element {
  position: relative;
}
.nav-element:after {
  display: block;
  content: "";
  background-color: #e9e9e9;
  width: 11rem;
  height: 10.5rem;
  position: absolute;
  top: -1.2rem;
  left: -1.5rem;
  z-index: -1;
  border-radius: 50%;
}
.active:hover::after {
  border: solid 1rem #e96b6b;
  top: -2rem;
  left: -2.5rem;
}
.active > .active {
  margin-top: -0.5rem;
}

/* contact section */
.contact-section {
  height: 76vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.row-contact {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: center;
  align-items: center;
  margin-top: -17rem;
}
.contact-data {
  padding: 6.5rem 5.5rem;
  background: #e96b6b;
  border-radius: 50%;
  margin: 0rem 0.5rem;
}
.contact-email {
  padding: 6.5rem 2.8rem;
}
.contact-data > span {
  display: block;
  color: #fff;
  font-size: 1.5rem;
}
.contact-data > span:first-child {
  margin-bottom: 1rem;
}
.contact-col-2 {
  position: relative;
}
.contact-col-2 > img {
  width: 30rem;
  height: 28rem;
  padding: 3.5rem;
  border-radius: 50%;
  background: #e9e9e9;
}
.social {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  bottom: 1.7rem;
}
.social > a {
  margin: 0.7rem;
  color: #000;
  text-decoration: none;
}
.social > a > i {
  font-size: 1.5rem;
  color: gray;
}
.col-2-about {
  display: block;
  position: relative;
}
.data {
  position: absolute;
  top: -7rem;
  left: 50%;
  transform: translate(-50%);
  display: inline-block;
  background-color: #e96b6b;
  padding: 7.5rem 3rem 2rem 3rem;
  border-radius: 50%;
  z-index: -1;
}
.data > span {
  display: block;
  color: #fff;
  font-size: 1.5rem;
}

/* contact section end */

/* footer */
.footer {
  text-align: center;
  color: #000;
  position: fixed;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%);
}
.footer-content {
  position: relative;
}
.footer-content > span {
  display: block;
  font-size: 1.1rem;
}
.white-circle {
  position: absolute;
  width: 48rem;
  height: 36rem;
  background: #fff;
  top: -3rem;
  left: 50%;
  transform: translate(-50%);
  border-radius: 50%;
  z-index: -1;
}
@media (max-width: 430px) {
  .white-circle {
    position: absolute;
    width: 48rem;
    height: 36rem;
    background: #fff;
    top: -2rem;
  }
  .footer-content {
    margin-top: 14rem;
  }
}
@media (max-width: 530px) {
  .white-circle {
    position: absolute;
    width: 48rem;
    height: 36rem;
    background: #fff;
    top: -3rem;
  }
  .footer-content {
    margin-top: 5rem;
  }
}
@media (max-width: 430px) {
  .white-circle {
    position: absolute;
    width: 48rem;
    height: 36rem;
    background: #fff;
    top: -2rem;
  }
  .footer-content {
    margin-top: 14rem;
  }
}

/* nav under menu */
.under-nav-menu {
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
}

.under-nav-menu > .under-nav-1 {
  background: #efefef;
  padding: 1.2rem 1.7rem;
  border-radius: 50%;
  position: relative;
}
.under-nav-menu > .under-nav-2 {
  margin: 0rem 0rem 0rem 20rem;
  background: #efefef;
  padding: 1.2rem;
  border-radius: 50%;
  position: relative;
}
.active-under::after {
  display: block;
  content: "";
  background: #e96b6b;
  width: 9.9rem;
  height: 10.1rem;
  position: absolute;
  z-index: -1;
  top: -6px;
  left: -7px;
  border-radius: 50%;
}
.hover-ee:hover::after {
  display: block;
  content: "";
  background: #e96b6b;
  width: 9.9rem;
  height: 10.1rem;
  position: absolute;
  z-index: -1;
  top: -6px;
  left: -7px;
  border-radius: 50%;
}
.hover-eee:hover::after {
  display: block;
  content: "";
  background: #e96b6b;
  width: 10.5rem;
  height: 10.1rem;
  position: absolute;
  z-index: -1;
  top: -5px;
  left: -5px;
  border-radius: 50%;
}
.active-under-b::after {
  display: block;
  content: "";
  background: #e96b6b;
  width: 10.5rem;
  height: 10.1rem;
  position: absolute;
  z-index: -1;
  top: -5px;
  left: -5px;
  border-radius: 50%;
}
@media (max-width: 600px) {
  .active-under::after {
    display: none;
  }
  .active-under-b::after {
    display: none;
  }
}

/* game section area  */
.game-section {
  height: 56vh;
  text-align: center;
}
.game-row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  margin-top: -2rem;
}
.game-image {
  padding: 2.5rem;
  background: #e96b6b;
  border-radius: 50%;
  margin-right: 1rem;
}
.game-description {
  background: #e96b6b;
  color: #fff;
  border-radius: 50%;
  padding: 2rem 2rem 7rem 2rem;
}
.game-description > h4 {
  font-size: 2.5rem;
  font-weight: 400;
  margin-bottom: 1rem;
}
.game-description > p {
  font-size: 1.5rem;
  line-height: 1.4rem;
}
/* game section area end */
.game-content-image {
  display: flex;
  justify-content: space-around;
  position: relative;
}
.game-content-image > img:first-child {
  position: absolute;
  left: -2rem;
  top: -5rem;
  padding: 1rem;
  border: 50%;
  padding: 0.8rem;
  border-radius: 50%;
  background: #e96b6b;
}
.game-content-image > img:last-child {
  position: absolute;
  right: -2rem;
  top: -5rem;
  padding: 0.8rem;
  border-radius: 50%;
  background: #e96b6b;
}

/* slider section */
.slider-section {
  text-align: center;
  margin-top: -2rem;
}
.slider-img > img {
  transition: 0.3s;
}
.slider-img > img:hover {
  transform: scale(1.1) translateY(1rem);
}
.slider-content {
  display: inline-block;
  width: 220px;
  height: 220px;
  background-color: #e96b6b;
  border-radius: 50%;
  color: #fff;
  z-index: -1;
  margin-top: -6rem;
  position: relative;
  padding-top: 6rem;
}
.slider-content > h4 {
  font-size: 2.4rem;
  font-weight: 400;
  margin-bottom: 1rem;
}
.slider-content > p {
  font-size: 1.4rem;
  line-height: 1.4rem;
}
.glider-prev {
  width: 40px;
  height: 40px;
  background: #fff;
  margin-left: 2rem;
  padding-bottom: 4.5rem;
}
.glider-next {
  width: 40px;
  height: 40px;
  background: #fff;
  margin-right: 2rem;
  padding-bottom: 4.5rem;
}
.blue-bar > img {
  height: 40rem;
  position: absolute;
  right: 0px;
  top: 55%;
  transform: translate(0%, -50%);
  z-index: -999;
  transition: 0.3s;
}

@media (max-width: 50rem) {
  .blue-bar > img {
    display: none;
  }
}
