@import url(//db.onlinewebfonts.com/c/3dd6e9888191722420f62dd54664bc94?family=Myriad+Pro);
	body {
    opacity: 1;
    transition: 1s opacity;
}
body.fade-out {
    opacity: 0;
    transition: none;
}
		html {
    background-color: white;
}
.headr{
	max-width:670;
	width:60%;
	height:243px;
	background-color:#1F1F1F;
	margin:0 auto;
	box-sizing:border-box;
	padding-left:53px;
	padding-right:53px;
	padding-top:13px;
	padding-bottom:10px;
	
}

body{
	margin:0;
}


.headr p{
	color:white;
font-family:'myriad';
	text-align:center;
	font-size:50px;
     margin:0;
    margin-top:10px;
	padding-top:60px;
	padding-bottom:70px;
	
    border: 3px solid #8F8F8F;
    padding-left: 25px;
    padding-right: 25px;
    box-sizing: border-box;
	
}
.nav ul{
	list-style:none;
	padding:0;
	margin:0;
	padding-top:30px;
	padding-bottom:30px;
	background-color:black;
	box-sizing:border-box;
	padding-left:170px;
}
.nav ul li{
	display: inline-block;
	
}
.nav ul li:nth-child(1){
	padding-right:10%;

}
.nav .actve{
	color: grey;
}
.nav ul li:nth-child(2){
	padding-right:40%;
}
.nav ul li:nth-child(4){
	padding-left:10%;
}
.nav ul li a:hover{
	color:yellow;
	transition:0.4s;
	cursor:pointer;
	border-bottom:2px solid yellow;
	
}
.nav ul li a{
	color:white;
	text-transform:uppercase;
	font-weight:600;
	font-family:sans-serif;
	font-size:20px;
	border-bottom:2px solid black;
	transition:0.4s;
	
}

.main{
	height:595px;
	width:100%;
	background-color:#666666;
	box-sizing:border-box;
	margin-top:36px;
	padding-top:95px;
	padding-bottom:131px;
}
.main table{
	width:100%;
	background-color:black;
	height:375px;
	position:relative;
	
}
.main table tr img{
	position:absolute;
	left:50%;
	transform:translate(-50%);
	top:-250px;

}
.main table tr td:nth-child(1){
	width:367px;
}

.main table tr td:nth-child(2){
	width:367px;
	text-align: center;
	
}
.main table tr td:nth-child(3){
	width:367px;
	text-align: center;
	
}
.main table tr td p{
	font-size:30px;
	color:white;
	text-align:center;
	font-family:sans-serif;
	font-style: italic;
	font-weight:100;
}
.footer{
	background-color:black;
	margin-top:29px;
	padding-left:97px;
	padding-top:3px;
	
}
.footer img{
	margin-left: 20px;
	
}
.cpyright{
	display:inline-block;
	text-align:center;
	margin:0 auto;
	width:70%;
position:relative;
	top:-20px;
}
.cpyright a{
	color:white;
}


/*this is media curey*/
@media only screen and (max-width: 1172px) {
	.main table tr td p{
	font-size:27px !important;
	}
}

@media only screen and (max-width: 1108px) {
  .headr p{
	font-size:45px !important;
	}
	.nav ul li:nth-child(2){
		padding-right:40% !important;
	}
	.nav ul li:nth-child(1){
	padding-right:5% !important;
	}	
	.nav ul li:nth-child(4){
	padding-left:7% !important;
	}
	.main table tr td p{
	font-size:25px !important;
	}

}

@media only screen and (max-width: 1025px) {
  .headr p{
	font-size:40px !important;
	
}
	.nav ul li a{
	font-weight:600 !important;
	font-size:18px !important;	
}
}

@media only screen and (max-width: 993px) {
  	.nav ul{
	padding-left:165px !important;
}
.main table tr td p{
	font-size:23px !important;
	}
	
}
@media only screen and (max-width: 943px) {
  .headr p{
	font-size:37px !important;	
}
	.nav ul li a{
		font-weight:600 !important;
		font-size:16px !important;	
}
}



@media only screen and (max-width: 894px) {
  .headr p{
	font-size:33px !important;
	
}
.main table tr td p{
	font-size:21px !important;
	}
}

@media only screen and (max-width: 828px) {
  .headr p{
	font-size:30px !important;
	
}
.main table tr td p{
	font-size:20px !important;
	}
}